.header {
  margin-top: 60px;
}

.header-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", sans-serif;
  font-size: 40px;
  color: rgb(30, 28, 28);
}

.header-img {
  overflow: hidden;
  height: 450px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.header-title-lg {
  position: absolute;
  top: 10%;
  font-size: 100px;
}
